body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 20px;
    font-family: sans-serif;
    background-color: #323232;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#control {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border: 2px solid #C8C8C8;
    background-color: black;
    padding: 10px;
}

.button {
    padding: 0rem 0.25rem;
    border: 1px solid #767676;
    border-radius: 0.25rem;
    background-color: #ffffff;
    cursor: pointer;
}

#stepCount {
    color: white;
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #767676;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

canvas {
    border: 2px solid #C8C8C8;
    background-color: black;
}

#rule {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border: 2px solid #C8C8C8;
    background-color: black;
    padding: 10px;
}

input {
    padding: 0rem 0.25rem;
    border: 1px solid #767676;
    border-radius: 0.25rem;
    background-color: #ffffff;
    cursor: text;
    min-width: 80px;
    max-width: 100%;
    text-align: center;
}

.flex-grow {
    flex-grow: 1;
}